<div class="container">
  <h1>My articles</h1>
    <ul>
      <% @articles.each do |article| %>
        <li><%= link_to article.title, article%></li>
      <% end %>
    </ul>

    <button type="button" class=" btn btn-outline-primary"><%= link_to "Create a new article", new_article_path %></button>
</div>
