<div class="container m-5">

  <h1>My articles</h1>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end m-4">
  <%= link_to "Create a new article", new_article_path, class:"btn btn-primary text-deco-none" %>
  </div>
    <ul>
      <% @articles.each do |article| %>
        <li class="card m-3 p-4"><%= link_to article.title, article, class:"text-deco-none"%></li>
      <% end %>
    </ul>


</div>
